* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
    font-size: 7vw;
    background-size: 200%;
    background: #12c2e9;
    background: -webkit-linear-gradient(-60deg, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(-60deg, #f64f59, #c471ed, #12c2e9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: flow 30s ease-in-out infinite;
}

@keyframes flow {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}